<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Joke list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.css}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="card bg-primary">
        <div class="card-body text-center ">
            <h6 class="card-text text-white">Joke Factory</h6>
        </div>
    </div>
    <br/><br/>
    <div class="row">
        <a href="/jokes" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Jokes</a>
        <a href="/structures" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Structures</a>
        <a href="/authors" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Authors</a>
    </div>
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <td>Joke title</td>
            <td>Content</td>
            <td>Structure</td>
            <td></td>
        </tr>
        </thead>
        <tbody th:each="joke:${jokes}">
        <tr>
            <td th:text="${joke.title}"></td>
            <td th:text="${joke.content}"></td>
            <td>
                <span th:if="${joke.structure==null}" th:text="'Not assigned'"></span>
                <span th:if="${joke.structure!=null}" th:text="${joke.structure.name}"></span>
            </td>
            <td><a th:href="${'/joke?id='+joke.id}">Preview</a></td>
            <td><a th:href="${'/joke/delete/'+joke.id}">Delete</a></td>
            <td><a th:href="${'/joke/edit/'+joke.id}">Edit</a></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <a href="/newjoke">Create new joke</a>
    </div>
<!--    <div class="row">-->
<!--        <form action="#" th:action="@{/logout}" method="post">-->
<!--            <input type="submit" value="Logout"/>-->
<!--        </form>-->
<!--    </div>-->
</div>
</body>
</html>